body {
    background: whitesmoke;
}

/*Header*/
header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    padding: 20px 0 20px 0;
    background-color: white;
    border-bottom: 5px;
    border-style: double;
    border-color: black;
}

h1 {
    text-shadow: 2px 2px gray;
}